
/* .video-preview {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
} */



/* .channel-picture {
    display: inline-block;
    width: 50px; 
    vertical-align: top;
    background-color: gray;
}


.video-info {
    display: inline-block;
    width: 200px;
    background-color: gray;
} */